MERCADOPAGO_ACCESS_TOKEN=TEST-REPLACE_ME
MERCADOPAGO_WEBHOOK_SECRET=REPLACE_ME
PAYPAL_CLIENT_ID=REPLACE_ME
PAYPAL_CLIENT_SECRET=REPLACE_ME
PAYPAL_WEBHOOK_ID=REPLACE_ME
BREVO_API_KEY=xkeysib-REPLACE_ME
